body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    background-color: #0F0F1B;
    color: #F1F1F3;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Urbanist", sans-serif;
}

/* ================================== */
/*          Hauotseite.               */
/* ================================== */


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px 25px 40px;
    border-bottom: 1px solid #FFC224;
}


/* Logo-Animation */
.logo img {
    transition: transform 0.5s ease;
}

.logo img:hover {
    transform: scale(1.07) rotate(3deg);
}

.navbar {
    display: flex;
    gap: 15px;
    align-items: center;
}

.navbar a {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #F1F1F3;
    text-decoration: none;
    transition: color 0.3s ease;
    white-space: nowrap;
    position: relative;
}


/* Zahl in der navbar dauerhaft lila bleibt */
.navbar a .nav-number {
    color: #D0C3F4;
    margin-right: 3px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #D0C3F4;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 0;
    height: 2px;
    background-color: #D0C3F4;
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

#theme-toggle {
    background: none;
    border: 2px solid #0F0F1B;
    border-radius: 100px;
    padding: 8px 12px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#theme-toggle:hover {
    border-color: #D0C3F4;
}


/* Haupt & Hero Layout */

.hero-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 20px 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 72px - 71px);
}


/* Hero section layout */

#hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    width: 100%;
}


/* ich bin: */

.intro-lead {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 2px;
    color: #F1F1F3;
    margin: 0 0 20px 0;
}


/* Haupttitle mein Name */

.main-title {
    font-family: "Urbanist", sans-serif;
    font-size: 60px;
    font-weight: 800;
    line-height: 1.1;
    color: #D0C3F4;
    margin: 0 0 20px 0;
    letter-spacing: 7px;
}


.typewriter {
    font-size: 80px;
    font-weight: 300;
    color: #F1F1F3;
    display: inline-block;
    margin-bottom: 5px;
}

/* Cursor Animation */

.typed-cursor {
    font-size: 50px;
    font-weight: 300;
    vertical-align: super;
}


.typed-cursor {
white-space: nowrap;
display: inline;
}

.typed-cursor {
    white-space: nowrap;
    display: inline;
}

h1 {
    white-space: nowrap
}

/* Hero Satz */

.hero-description {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #F1F1F3;
    margin: 0 0 40px 0;
    font-weight: 400;
    max-width: 650px;
}


.hero-image-card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}

/*Button-1-Projekt & Effekt*/

.cta-container {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.btn-primary {
    display: inline-flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight:700;
    color:#0F0F1B;
    background-color: #FFC224;
    text-decoration:none;
    padding: 15px 40px; 
    border-radius: 100px;
    border: 2px solid #FFC224;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn-primary:hover {
    background-color: #D0C3F4;
    border-color: #D0C3F4;
    color: #0F0F1B;
}


             /*Button-2-Kontakt & Effekt*/
.btn-secondary {
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight:700;
    color:#F1F1F3;
    background-color: transparent;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    border: 2px solid #F1F1F3;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-secondary:hover {
    border-color:#FFC224;
    color: #FFC224;
    background-color: rgba(248, 167, 45, 0.1);
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 40px;
    width: 100%;
    border-top: 1px solid #FFC224;
    box-sizing: border-box;
}

footer small {
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #F1F1F3;
    margin-top: 0;
}







/* ================================== */
/*          About Seite               */
/* ================================== */

main {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 60px 80px 60px;
    box-sizing: border-box;
}


/* Intro */

#ueber-mich-intro {
    margin-bottom: 60px;
    text-align: center;
}

#ueber-mich-intro h1 {
    font-family: "Urbanist", sans-serif;
    font-size: 60px;
    font-weight: 600;
    color:#D0C3F4;
    margin: 0 0 30px 0;
    letter-spacing: 3px;
}

#ueber-mich-intro h2 {
    font-size: 24px;
    font-weight: 400;
    color: #F1F1F3;
    margin: 0;
    letter-spacing: 2px;
}


/* Fakten-Boxen */

#fakten {
    display: flex;
    gap: 100px;
    margin-bottom: 90px;
}

.fakten-box{
    flex: 6;
    background-color: rgba(200, 200, 200, 0.09);
    border: 1.5px solid #FFC224;
    border-radius: 30px 40px;
    padding: 30px 40px;
    font-style: normal;
}

.fakten-bo h3 {
    font-size:18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #F1F1F3;
    margin: 0 0 25px 0;
}

.fakt-highlight {
    font-size: 36px;
    font-weight: 800;
    font-family: "Urbanist", sans-serif;
    color: #D0C3F4;
    margin: 0;
    letter-spacing: 2px;
}


/* About-Text */

#about {
    max-width: 800px;
    margin-bottom: 80px;
}

#about h2 {
    font-size: 36px;
    font-weight: 800;
    color: #F1F1F3;
    margin-bottom: 30px;
}

#about p {
    font-size: 18px;
    line-height: 1.8;
    color: #F1F1F3;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: justify;
    hyphens: auto;
}

#about .cta-container{
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-35%);
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
}


/* Ziel-Section */

#ziel {
    text-align: center;
    padding: 60px 40px;
    border-top: 1px solid #FFC224;
    margin: 0 -40px -80px -40px;
}

#ziel h2 {
    font-size: 36px;
    font-weight: 600;
    font-style: italic;
    color: #FFC224;
    margin: 0;
    letter-spacing: 1px;
}







/* ============================== */
/* Interessen-Seite                */
/* ============================== */


/* Intro */

#interessen-intro {
    margin-bottom: 60px;
    text-align: center;
}

#interessen-intro h1 {
    font-family: "Urbanist", sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #D0C3F4;
    margin: 0 0 10px 0;
    letter-spacing: 3px;
}

#interessen-intro .intro-lead {
    color: #F1F1F3;
}


/* Box-Liste */

#interessen-liste {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 700px;
    margin-right: auto;
}

.interessen-box {
    border-radius: 0px 30px 30px 0px;
    padding: 30px 80px 30px 40px;
 
}

.interessen-box h2 {
    font-family: "Urbanist", sans-serif;
    font-size: 48px;
    font-weight: 800;
    margin:0 0 15px 0;

}

.interessen-box p {
    font-size: 20px;
    line-height:1.7;
    margin: 0;
    font-weight:400;
}


/* Farbvarianten */

.box-lila {
    background-color: #D0C3F4;
    color: #0F0F1B;
}

.box-gelb {
    background-color: #FFC224;
    color: #0F0F1B;
}

.box-outline {
    background-color: transparent;
    border: 2px solid #F1F1F3;
    color: #F1F1F3;
}







/* ============================== */
/* Projekte-Seite                */
/* ============================== */


/* Intro */

#projekte-intro {
    margin-bottom: 80px;
    text-align: center;
}

#projekte-intro h1 {
    font-family: "Urbanist", sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #D0C3F4;
    margin: 0 0 10px 0;
    letter-spacing: 3px;
}

#projekte-intro .intro-lead {
    font-family: "Inter", sans-serif;
    color: #F1F1F3;
}


/* Projekt-Einträge */

#projekte-liste {
    max-width: 1200px;
    margin: 0 auto;
}

.projekt-eintrag {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    gap: 20px;
    padding: 50px 0;
    border-top: 1px solid #FFC224;
}

.projekt-eintrag:first-child {
    border-top: 1px solid #FFC224
}

.projekt-jahr {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #D0C3F4;
    margin: 0 0 18px 0;
    grid-column: 1;
}

.projekt-eintrag h2 {
    font-family: "Urbanist", sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #F1F1F3;
    margin: 0 0 12px 0;
    grid-column: 1;
}

.projekt-beschreibung {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #F1F1F3;
    margin: 0;
    font-weight: 400;
    max-width: 500px;
    grid-column: 1;
    hyphens: auto;
}


/* "Mehr erfahren" Link */

.projekt-link {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFC224;
    text-decoration: none;
    grid-column: 2;
    grid-row: 1 / 4;
    align-self: center;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.projekt-link:hover {
    color: #D0C3F4;
}







/* ============================== */
/* Kontakt-Seite                   */
/* ============================== */

/* Intro */
#kontakt-intro{
    text-align: center;
    margin-bottom: 140px;
}

#kontakt-intro h1 {
    font-size: 60px;
    font-weight: 800;
    color: #D0C3F4;
    margin: 0 0 20px 20px;
}

#kontakt-intro .intro-lead {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #F1F1F3;
    max-width: 620px;
    margin: 0 auto 50px auto;
}

/* Icon-Liste */
#kontakt-liste {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
    padding: 0;
    margin: 0;
    width: fit-content;
    margin-left:auto;
    margin-right: auto;
}

#kontakt-liste li {
    display: flex;
    align-items: center;
    gap: 30px;
}

.kontakt-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
}

.kontakt-icon img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

/* Farbvarianten */
.icon-pinterest {
    background-color: #f3f1f1;
}

.icon-instagram {
    background-color: #FFC224;
}

.icon-cosmos {
    background-color: transparent;
    border: 2px solid #F1F1F3;
    border-radius: 50%
}

.icon-cosmos img {
    width: 110%;
    height: 100%;
}

/* Link-Text */
#kontakt-liste a {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #F1F1F3;
    text-decoration: none;
    transition: color 0.3s ease;
}

#kontakt-liste a:hover {
    color: #D0C3F4;
}

/* E-Mail-Link */
.kontakt-email {
    font-size: 28px;
    font-weight: 300;
    color: #D0C3F4;
}

.kontakt-email:hover {
    color: #FFC224;
}

#kontakt-liste li:first-child {
    margin-bottom: 110px
}








/* ===================*/
/* Hamburger Button   */
/* ===================*/

.hamburger {
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001; 
}

.hamburger span {
    width: 100%;
    height: 3px;
    background-color: #5821C5; 
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}




/* =======================================================*/
/* Responsive Navigation: Mobile Breakpoint (unter 768)   */
/* =======================================================*/

@media (max-width: 767px) {
    .hamburger {
        display: flex; 
    }


    .navbar {
        display: none; 
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #0F0F1B; 
        justify-content: center;
        align-items: center;
        gap: 45px; 
        z-index: 1000;
        padding: 0;
       
    }

    .navbar a {
        width: auto;
        display: inline-flex;
    }

    
    .navbar.active {
        display: flex;
    }

    html.light .navbar {
        background-color: #d7d7d7

    }

    html.light .navbar a {
        color: #0F0F1B
    }

    
    .navbar a {
        font-size: 26px;
    }

    
    #theme-toggle {
        margin-top: 20px;
        font-size: 44px;
    }

    
    .hamburger.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0; 
    }
    .hamburger.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}








/* ==============*/
/* BREAKPOINTS   */
/* ==============*/




/* =====================================================================*/
/* BREAKPOINT 1: Tablet Mittelgroßer Bildschirm von 768px bis 1024px)    */
/* =====================================================================*/

@media (max-width: 1024px) {
    #ueber-mich-intro h1, #interessen-intro h1, #projekte-intro h1, .main-title {
        font-size: 32px !important;
    }

    .typewriter {
        font-size: 50px;
    }

    .hero-description {
        font-size: 18px;
    }

    #fakten{
        gap: 40px;
    }
}


/* =============================================================*/
/* BREAKPOINT 2: Mobile Layout (Kleiner Bildschirm unter 768px)  */
/* =============================================================*/

@media (max-width: 767px) {
    #ueber-mich-intro h1, #interessen-intro h1, #projekte-intro h1, .main-title {
        font-size: 48px !important;
    }

header {
    padding: 15px 20px;
}

#hero-section {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 60px;
}

.hero-text {
    width: 100%;
    max-width: 100%;
}

.hero-image-card {
    margin: 30px auto 0 auto;
    max-width: 280px;
}

.cta-container {
    flex-direction: column;
    gap: 15px;
    margin-top: 35px;
}

.btn-primary, .btn-secondary {
        width: 280px;
        margin: 0 auto;
        text-align: center;
        box-sizing: border-box;
        justify-content: center;
    }

.hero-container {
    height: auto;
    min-height: calc(100vh - 140px);
    padding: 20px 20px;
}


   /* About-Seite Mobile */

    main {
        padding: 30px 20px 50px 20px;
    }

    #fakten {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
    }

    .fakten-box {
        padding: 12px 20px 25px;
        flex: none;
        width: 75%;
        margin: 0 auto;
        text-align: center;

    }

    .fakt-highlight {
        font-size: 28px;
    }

    #about h2 {
        font-size: 26px;
    }

    #about p {
        font-size: 18px;
        text-align: left;
        hyphens: none;
    }

    #about .cta-container {
        width: 100%;
        left: 0;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    #ziel {
        padding: 40px 20px;
        margin: 0 -20px -50px -20px;
    }

    #ziel h2 {
        font-size: 28px;
    }



    /* Projekte-Seite Mobile */

    .projekt-eintrag {
        grid-template-columns: 1fr;
        gap: 12px;
        padding: 35px 0;
    }

    .projekt-eintrag h2 {
        font-size: 28px;
    }

    .projekt-beschreibung {
        font-size: 16px;
        max-width: 100%;
        hyphens: none;
    }

    .projekt-link {
        grid-column: 1;
        grid-row: auto;
        justify-self: start;
        margin-top: 8px;
    }

}

/* ======================== */
/* Hover deaktiviert Mobile */
/* ======================== */

@media (hover: none) {
    * {
        transition: none !important;
    }
}



/* ============================== */
/* Light Mode                      */
/* ============================== */

html.light body {
    background-color: #d7d7d7;
    color: #0F0F1B;
}

html.light .main-title,
html.light .nav-number,
html.light .fakt-highlight,
html.light .projekt-jahr,
html.light .kontakt-email,
html.light #ueber-mich-intro h1,
html.light #interessen-intro h1,
html.light #projekte-intro h1,
html.light #kontakt-intro h1 {
    color: #5024bd
}



/* Header & Navigation */

html.light header {
    border-bottom: 2px solid #0F0F1B;
}

html.light .navbar a {
    color: #0F0F1B;
}



/* Startseite */

html.light .typewriter {
    color: #0F0F1B;
}

html.light .intro-lead {
    color: #0F0F1B;
}

html.light .hero-description {
    color: #0F0F1B;
}

html.light .btn-secondary {
    color: #0F0F1B;
    border-color: #0F0F1B;
}

html.light .btn-primary:hover {
    background-color: #5024bd;
    border-color: #5024bd;
    color: #ffffff

}

html.light .navbar a::after {
    background-color:#5024bd;
}

html.light .navbar a:hover {
    color:#5024bd
}


html.light #theme-toggle:hover {
    border-color: #0F0F1B;
}

html.light #theme-toggle {
    border-color: transparent;
}



/* About-Seite */

html.light #ueber-mich-intro h2 {
    color: #0F0F1B;
}

html.light .fakten-box {
    background-color: rgb(88, 81, 223);
}

html.light .fakten-box h3,
html.light .fakt-highlight {
    color: #FFFFFF;
}

html.light #about h2 {
    color: #0f1b19;
}

html.light #about p {
    color: #0F0F1B;
}

html.light #ziel h2 {
    color: #000000;
}



/* Projekte-Seite */

html.light .projekt-link {
    color: #5024bd;
}




/* Interessen-Seite */

html.light #interessen-intro .intro-lead {
    color: #0F0F1B;
}

html.light .box-outline {
    border-color: #0f1b11;
    color: #0F0F1B;
}

/* Projekte-Seite */

html.light #projekte-intro .intro-lead {
    color: #0F0F1B;
}

html.light .projekt-eintrag h2 {
    color: #0F0F1B;
}

html.light .projekt-beschreibung {
    color: #0F0F1B;
}



/* Kontakt-Seite */

html.light #kontakt-intro .intro-lead {
    color: #0F0F1B;
}

html.light #kontakt-liste a {
    color: #0f1b0f;
}

html.light .icon-cosmos {
    color: #0F0F1B;
}



/* Footer */

html.light footer {
    border-top: 2px solid #0F0F1B;
}

html.light footer small {
    color: #0F0F1B;
}



